*.swp
package-lock.json
__pycache__
.pytest_cache
.env
*.egg-info
Pipfile.lock

# CDK asset staging directory
.cdk.staging
cdk.out

bin/

pyvenv.cfg

#layers/
lib/

test.yaml
accessanalyzer.json
accessanalyzer.yaml
